:root {
  --card-height: 240px;
  --card-width: calc(var(--card-height) / 1.5);
  --card-border-width: 4%,
}

@property --rotate {
  syntax: "<angle>";
  initial-value: 132deg;
  inherits: false;
}

body {
  background: #212534;
}

.card-box-wrapper {
  width: 100%;
  max-width: 1200px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  flex-direction: row;
  padding: 20px;
  margin: 0 auto;
  .card-box-item {
    width: var(--card-width);
    height: var(--card-height);
    background: #191c29;
    margin: 10px;
    position: relative;
    border-radius: 6px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #eee;
    cursor: pointer;
    font-family: cursive;
  }

  .card-box-item:hover {
    color: #b7eb8f;
    transition: color 1s;
  }

  .card-box-item:hover:before {
    width: 106%;
    height: 104%;
    top: -2%;
    left: -3%;
  }

  .card-box-item::before {
    content: "";
    width: 104%;
    height: 102%;
    border-radius: 10px;
    background-image: linear-gradient(
      var(--rotate)
      , #b7eb8f, #73d13d 43%, #237804);
      position: absolute;
      top: -1%;
      left: -2%;
      animation: spin 2.5s linear infinite;
  }

  .card-box-item::after {
    position: absolute;
    content: "";
    top: calc(var(--card-height) / 6);
    left: 0;
    right: 0;
    z-index: -1;
    height: 100%;
    width: 100%;
    margin: 0 auto;
    transform: scale(0.8);
    filter: blur(calc(var(--card-height) / 6));
    background-image: linear-gradient(
      var(--rotate)
      , #b7eb8f, #73d13d 43%, #237804);
      opacity: 1;
    transition: opacity .5s;
    animation: spin 2.5s linear infinite;
  }

  .card-box-item-container {
    height: 100%;
    position: relative;
    border-radius: 10px;
    width: 100%;
    // overflow: hidden;
  }
  
  .card-box-item-container::before {
    content: '';
    position: absolute;
    width: calc(100% + 3px);
    height: calc(100% + 3px);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 6px;
    background: radial-gradient(30px circle at var(--x) var(--y), rgb(26, 208, 135) 0,transparent 100%);
  }
  
  .card-box-item-container .card-box-content {
    height: 100%;
    inset: 3px;
    background: #172033;
    border-radius: 10px;
  }

  .card-box-content {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    overflow: hidden;
    color: #ccc;
    .card-box-title {
      font-size: 26px;
      text-align: center;
      overflow: hidden;
      font-weight: 800;
      padding: 25% 0 ;
    }
    .card-box-desc {
      display: -webkit-box;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
      overflow: hidden;
      padding: 0 5px;
      box-sizing: border-box;
      text-overflow: ellipsis;
      position: absolute;
      font-size: 13px;
      bottom: 0;
      height: 40px;
      width: 100%;
      word-break: break-all;
      bottom: 10px;
      text-align: center;
    }
    .card-box-tag {
      position: absolute;
      top: 16px;
      padding: 0px 6px;
      background-color: rgb(26, 208, 135);
      color: #fff;
      border-radius: 16px 0 0 16px;
      right: 0;
      font-weight: 600;
    }
  }


  .card-box-item-container:hover .card-box-desc {
    -webkit-line-clamp: 6;
    position: relative;
    height: auto;
  
  }

  @keyframes spin {
    0% {
      --rotate: 0deg
    }
    100% {
      // transform: rotate(0deg);
      --rotate: 360deg
    }
  }
  
}
